<div class="jumbotron tiny">
    <div class="container">
        <h3 class=""> 人物卡 </h3>
    </div>
</div>

<!--basic form-->
<div class="container">
    <div class="card primary">
        <div class="card-header">
            <a href="#" (click)="basicformCollapsed = !basicformCollapsed" [attr.aria-expanded]="!basicformCollapsed" aria-controls="basicform-collapse">基本信息</a>
        </div>
        <div class="card-block" id="basicform-collapse" [ngbCollapse]="basicformCollapsed">
            <form class="form-horizontal">
                <div class="form-group row">
                    <label class="col-1 col-form-label" for="basicform-name">名字</label>
                    <div class="col-5">
                        <input class="form-control" [(ngModel)]='character.name' type="text" name="name" id="basicform-name" placeholder="Name" required/>
                    </div>
                    <label class="col-1 col-form-label" for="basicform-race">种族</label>
                    <div class="col-5">
                        <select [(ngModel)]='character.race' class="form-control" id="basicform-race" type="text" name="race" required>
                            <option *ngFor="let option of constants.Races" >{{option}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-1 col-form-label" for="basicform-class">职业</label>
                    <div class="col-5">
                        <select [(ngModel)]='character.class' class="form-control" type="text" id="basicform-class" name="class" required>
                            <option *ngFor="let option of constants.Classes" >{{option}}</option>
                        </select>
                    </div>
                    <label class="col-1 col-form-label" for="basicform-alignment">阵营</label>
                    <div class="col-5">
                        <select [(ngModel)]='character.alignment' class="form-control" type="text" id="basicform-alignment" name="class" required>
                            <option *ngFor="let option of constants.Alignments" >{{option}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-1 col-form-label" for="basicform-religion">信仰</label>
                    <div class="col-5">
                        <select [(ngModel)]='character.religion' class="form-control" type="text" id="basicform-religion" name="class" required>
                            <option *ngFor="let option of constants.Religions; let i=index" value={{option}}>{{option}} -- {{constants.ReligionAlignments[i]}}</option>
                        </select>
                    </div>
                    <div *ngIf="character.religion===constants.Religion.OTHER_GOD" class="col-6">
                        <input class="form-control" [(ngModel)]='character.otherReligion' type="text" name="otherReligion" id="basicform-otherReligion"
                            placeholder="请在此填写你的信仰" required/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<br>

<!--ability form-->
<div class="container">
    <div class="card success">
        <div class="card-header">
            <a href="#" (click)="abilityformCollapsed = !abilityformCollapsed" [attr.aria-expanded]="!abilityformCollapsed" aria-controls="abilityform-collapse">人物属性</a>
        </div>
        <div class="card-block" id="abilityform-collapse" [ngbCollapse]="abilityformCollapsed">
            <div class="row">
                <div class="col-6 text-center">
                    <form class="form-horizontal">
                        <div class="form-group row">
                            <div class="col-3">属性</div>
                            <div class="col-6">值</div>
                            <div class="col-3">补正值</div>
                        </div>
                        <div class="form-group row">
                            <div class="col-3">力量</div>
                            <div class="col-6">
                                <input class="form-control" [(ngModel)]='character.strength' type="number" name="strength" id="abilityform-strength" min="0" max="99"/>
                            </div>
                            <div class="col-3">
                                {{character.strengthModifier}}
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-6">
                </div>
            </div>
        </div>
    </div>
</div>
<span>{{character|json}}</span>