$primary:#0275d8;
$success:#5cb85c;
$info:#5bc0de;
$warning:#f0ad4e;
$danger:#d9534f;


.jumbotron{
    background-color: DarkMagenta;
    color: Bisque;
    &.tiny{
        padding: 1em;
    }
}

.card{
    &.blue{
        border-color:$primary;
        .card-header{
            background-color: $primary;
            a {
                color:white;
            }
        }
    }
}